* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(98, 98, 98);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header h1 {
    color: white;
    padding-left: 50px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    padding-right: 50px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover,
li a.active {
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.items {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 700;
}

.items:nth-child(odd) {
    background-color: rgb(210, 210, 210);
}

.home h1 {
    animation: home linear;
    animation-timeline: view();
    animation-range: cover 0% start 100%;
}

@keyframes home {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(0);
    }
}

.about h1 {
    animation: about linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes about {
    0% {
        transform: translate(-500px);
    }

    100% {
        transform: translate(0px);
    }
}

.project h1 {
    animation: project linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes project {
    0% {
        transform: translate(500px);
    }

    100% {
        transform: translate(0px);
    }
}

.resume h1 {
    animation: resume linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes resume {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact h1 {
    position: relative;
}

.contact h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(210, 210, 210);
    animation: contact linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes contact {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}